* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

.completed {
    opacity: 0.5;
}

.content {
    height: 100%;
    display: grid;
    grid-template: "projects todos";
    grid-template-columns: 3fr 7fr;
}

.projects {
    grid-area: projects;
    background-color: #e5e7e7;
    height: 100%;
    padding: 3rem;
}

.projectCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.todos {
    grid-area: todos;
    height: 100vh;
    background-color: #fff;
    padding: 5rem 3rem 5rem 3rem;
}

.todo hr {
    margin-top: 1rem;
    opacity: 0.2;
}

.todoContent {
    display: flex;
    gap: 1rem;
}

.todoDate {
    padding-bottom: 1rem;
    font-size: 14px;
}

.todoUpper {
    display: flex;
    justify-content: space-between;
}

.deleteTodo {
    background-color: transparent;
    border: none;
    height: 100%;
}

.project {
    background-color: #cdcece;
    border-radius: 10px;
    padding: 1rem;
    height: 3rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.projectContent {
    display: flex;
    justify-content: space-between;
}

.addBtn {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
}

.addBtn:hover {
    background-color: #e5e7e7;
}

.addBtn:active {
    background-color: #cdcece;
}

.passive {
    color: black;
    background-color: #cdcece;
}

.projectBtn {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
}

.projectBtn:hover {
    background-color: #7e8383;
}

.projectBtn:active {
    background-color: #5d6161;
    color: white;
}
